* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}
:root {
  font-family: "Open Sans", sans-serif; 
  line-height:normal;
  
}

#page {
  width: 1120px;
  margin: 88px auto 65px;
  background-color: aquamarine;

}

h1 {
  font-size: 36px;
  font-weight: bold;
}

#about img {
border-radius: 28px ;
width: 1120px;
height: 660px;

}

#about p {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #333333;
}

.Headline {
  font-size: 16px;
  font-weight: bold;
  color: #E1624F;
}

.list img {
  border-radius: 28px ;
width: 1120px;
height: 350px;
}

p {
color: #333333;
font-size: 16px;

}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
  font-weight: bold;
}

h2, h3 {
color: #1B1B1B;

}